<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">

    <script src="./ejs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <title>Login ok</title>
</head>

<body>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="container-sm border rounded p-3" style="background-color: green;color: white;">
                <h1>Usuario logueado!</h1>
                <h2><i>Bienvenido <%= nombre %></i></h2>
                <br>
                <h3>Nombre: <%=nombre%>
                </h3>
                <h3>Direccion: <%=direccion%>
                </h3>
                <h3>Edad: <%=edad%>
                </h3>
                <h3>Email: <%=email%>
                </h3>
                <h3>Avatar: <img height="75px" src=<%= avatar %> alt=<%= nombre %> />
                </h3>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary my-5" onclick="inicio()">Home</button>
                    </div>
                    <div class="col-6">
                    </div>
                    <div class="col">
                        <button class="btn btn-danger my-5" onclick="logout()">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function redireccionar(pagina) {
            location.href = pagina;
        }
        function inicio() {
            console.log('logout');
            redireccionar('/api/')
        }
        function logout() {
            console.log('logout');
            redireccionar('/api/logout')
        }
    </script>
</body>

</html>