<p class="inline"> <span class="email"><%= author.userEmail %></span> [<span class="fecha"><%= tiempoStamp %></span>]: <span class="mensaje"><%= text %></span>  <span class="avatar"><img height="30px" src=<%= author.avatar %> alt=<%= author.alias %> /> </span></p>

